{% extends 'base.html' %}


{% block content %}
	<div class="pure-g">
		<div class="pure-u-1-1 pure-u-md-1-2">
			<div class="graph" title="Wohnzimmer" data-graph="0d7dff-humidity,0d7dff-temperature"></div>
		</div>
		<div class="pure-u-1-1 pure-u-md-1-2">
			<div class="graph" title="Schlafzimmer" data-graph="0d7c13-humidity,0d7c13-temperature"></div>
		</div>
		<div class="pure-u-1-1 pure-u-md-1-2">
			<div class="graph" title="Bad" data-graph="0d7bd3-humidity,0d7bd3-temperature"></div>
		</div>
		<div class="pure-u-1-1 pure-u-md-1-2">
			<div class="graph" title="Küche" data-graph="0d7b96-humidity,0d7b96-temperature"></div>
		</div>
		<div class="pure-u-1-1 pure-u-md-1-2">
			<div class="graph" title="Flur" data-graph="0d782e-humidity,0d782e-temperature"></div>
		</div>
		<div class="pure-u-1-1 pure-u-md-1-2">
			<div class="graph" title="Kind" data-graph="9f44ec-humidity,9f44ec-temperature"></div>
		</div>
	</div>
{% endblock %}
